.wy-nav-content {
    padding: 1.6em 1.236em;
    height: 100%;
    max-width: 80%;
}


/*.rst-content dl p, .rst-content dl table, .rst-content dl ul, .rst-content dl ol {
    margin-bottom: 24px !important;
}*/

.rst-content h1, .rst-content h4, .rst-content h5 {
    text-align: left;
}


.rst-content .toctree-wrapper p.caption {
    font-size: 1.2em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
